.conteudo {
	width: 940px;
    margin: 0 auto;
    font-size: 22px;
}

.banner {
	width: 100%;
	margin: 0 0 10px 0;
}

.principal {
	margin: 40px 0 30px 0;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
}

.descricao-barbearia {
	text-align: justify;
	margin-top: 25px;
}

.missao {
	height: 250px;
}

#missao {
	font-size: 32px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 20px 0 20px 0;
	text-align: center;
}

.imagemtesoura {
	width: 20%;
	position: absolute;
	right: 200px;
	top: 850px;
}

em strong {
	color: #550000;
	font-family: "Bookman Old Style";
}

.itens {
	font-style: italic;
	margin: 10px;
}

.beneficios {
	padding: 10px 0 20px 0;
	height: 1000px;
	/*background-color: #f5c889;*/
	/*background-image: url("../imagens/beneficios.jpg");*/
}

.beneficios-itens {
	color: white;
	font-size: 40px;
	display: inline-block;
	vertical-align: top;
	margin-right: 15%;
	margin-left: 10px;
	position: absolute;
	top: 1500px;
	left: 250px;
}

.imagembeneficios {
	width: 100%;
}

.titulo-principal {
	padding-left: 20px;
}

.retangulo{
	width: 100%;
	padding: 10px;
	background-color: #D8B997;
}

.quadrado {
	height: 500px;
	width: 500px;
	overflow: hidden;
}

.quadrado img {
	height: auto;
	width: 800px;
	margin: 0px 0 0 -142px
}
